Documentation/Mockups/CheckMateCorrected/CheckMateCorrectedScreens/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Questions" type="tns:Questions" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Questions">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="QuestionsItem" type="tns:QuestionsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuestionsItem">
    <xs:sequence>
      <xs:element name="Questions" type="tns:Questions" />
    </xs:sequence>
    <xs:attribute name="Categories" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="CollectionItem">
    <xs:sequence>
      <xs:element name="Collection" type="tns:CollectionItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CollectionItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CollectionItem" type="tns:CollectionItem" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>